@page
@using Autofiller.Data.Models;
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@section scripts{
    <script>
        var Action = "Prealocating/Downloading/Verifying";
        var Game = "Gamename";
        var Progress = "0";

        function RemoveFromQueue(appid) {
            $.ajax({
                type: "POST",
                url: '@Url.Action("RemoveFromQueue","Home")',
                data:
                {
                    appid: appid
                },
                dataType: 'json',
                success: function (result) {
                    alert(result.message);
                }
            });
        }

        function openSteamStore(id) {
            window.open("https://store.steampowered.com/app/" + id, "_blank").focus();
        }

        function GetDownloadProgress() {
            $.ajax({
                url: '@Url.Action("GetDownloadProgress", "Home")',
                Action: "GET",
                success: function (response) {
                    var progressbar = document.getElementById("DownloadBar");
                    progressbar.setAttribute("aria-valuenow", response.progress);
                    progressbar.style.width = response.progress+"%";
                    progressbar.innerHTML = `${response.action} ${response.game}: ${response.progress}`;
                }
            })
        }

        setInterval(GetDownloadProgress, 3000);
    </script>
}

<div class="text-center">
    <h1>
        Current Queue:
    </h1>
    <div class="progress">
        <div class="progress-bar" role="progressbar" id="DownloadBar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <td>
                    AppId
                </td>
                <td>
                    Name
                </td>
                <td>
                    Queued Time
                </td>
                <td>
                    Status
                </td>
                <td>
                    Actions
                </td>
            </tr>
        </thead>
        <tbody>
            @foreach (var app in DataManager.Instance.Queue.Data)
            {
                <tr>
                    <td>
                        <label>@app.AppId</label>
                    </td>
                    <td>
                        <label>@app.Name</label>
                    </td>
                    <td>
                        <label>@app.QueuedTime</label>
                    </td>
                    <td>
                        <label>@app.Status</label>
                    </td>
                    <td>
                        <button class="btn btn-info" onclick="RemoveFromQueue(@app.AppId)">➖</button>
                        <button class="btn btn-success" onclick="openSteamStore(@app.AppId)">🔗</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>
